<div class="row">
    {{#each users}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    Nombre: {{name}} <a href="/admin/edit/{{_id}}" class="btn border-shadow update">
                        <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span></a>
                </h4>
                <p>Apellido: {{lastname}}</p>
                <p>email: {{email}}</p>
                <p>Cedula: {{cedula}}</p>
                <p>Direccion: {{direccion}}</p>
                <form action="/admin/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE" id="">
                    <button class="btn btn-danger  btn-block btn-sm">
                        <i class='bx bxs-x-circle'></i> Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>