<div class="row">
    {{#each restaurants}}
    <div class="col-md-3">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{this.name}}
                </h4>
                <p>{{this.speciality}}</p>
                <p>{{this.location}}</p>
                <p>{{this.score}}</p>
                <p>{{this.latitud}}</p>
                <p>{{this.longitud}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<form action="/restaurant/filter" method="POST">
    <fieldset class="form-group ">
        <legend class="mt-4">Tipo de Comida</legend>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="speciality" value="pollo" id="checkPollo">
            <label class="form-check-label" for="flexCheckDefault">
                pollo
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="speciality" value="sushi" id="checkSuhi">
            <label class="form-check-label" for="flexCheckDefault">
                sushi
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="speciality" value="india" id="checkHamburgueza">
            <label class="form-check-label" for="flexCheckDefault">
                india
            </label>
        </div>
        <legend class="mt-4">Ubicacion</legend>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="distancia1" value="20" id="checkMas20km">
            <label class="form-check-label" for="flexCheckDefault">
                < 20km </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="distancia2" value="20" id="checkMenos20km">
            <label class="form-check-label" for="flexCheckDefault">
                > 20km
            </label>
        </div>
        <legend class="mt-4">Calificacion</legend>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="score" value="5" id="check5">
            <label class="form-check-label" for="flexCheckDefault">
                5 estrellas
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="score" value="4" id="check4">
            <label class="form-check-label" for="flexCheckDefault">
                4 estrellas
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="score" value="3" id="check3">
            <label class="form-check-label" for="flexCheckDefault">
                3 estrellas
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="score" value="2" id="check2">
            <label class="form-check-label" for="flexCheckDefault">
                2 estrellas
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="score" value="1" id="check1">
            <label class="form-check-label" for="flexCheckDefault">
                1 estrella
            </label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary align-center">Filtrar</button>
    </fieldset>
</form>