<div class="row">
    {{#each restaurants}}
    <div class="col-md-3">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{this.name}}
                </h4>
                <p>{{this.speciality}}</p>
                <p>{{this.location}}</p>
                <p>{{this.score}}</p>
                <p>{{this.precio}}</p>
                <p>{{this.latitud}}</p>
                <p>{{this.longitud}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<form action="/restaurant/filter" method="POST">
    <fieldset class="form-group ">
        <legend class="mt-4">Tipo de Comida</legend>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="speciality" value="pollo" id="checkPollo">
            <label class="form-check-label" for="flexCheckDefault">
                pollo
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="speciality" value="sushi" id="checkSuhi">
            <label class="form-check-label" for="flexCheckDefault">
                sushi
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="speciality" value="india" id="checkHamburgueza">
            <label class="form-check-label" for="flexCheckDefault">
                india
            </label>
        </div>
        <legend class="mt-4">Precios</legend>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="precio" value="Bajo" id="checkBajo">
            <label class="form-check-label" for="flexCheckDefault">
                Bajo
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="precio" value="Medio" id="checkMedio">
            <label class="form-check-label" for="flexCheckDefault">
                Medio
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="precio" value="Alto" id="checkAlto">
            <label class="form-check-label" for="flexCheckDefault">
                Alto   
            </label>
        </div>
        <legend class="mt-4">Distancia</legend>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="distancia" value="10" id="check10menos">
            <label class="form-check-label" for="flexCheckDefault">
                < 10 km
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="distancia" value="11" id="check10mas">
            <label class="form-check-label" for="flexCheckDefault">
                > 10 km
            </label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary align-center">Filtrar</button>
    </fieldset>
</form>