<div class="row">
    {{#each restaurants}}
    <div class="col-md-3">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{this.name}} 
                </h4>
                <p>{{this.speciality}}</p>
                <p>{{this.location}}</p>
                <p>{{this.score}}</p>
                 <button class="btn btn-danger  btn-block btn-sm">
                        <a href="/restaurant/ratings/new/{{_id}}" class="btn border-shadow update">Calificar</a>
                    </button>   
            </div>
        </div>
    </div>
    {{/each}}
</div>